<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <section class="home" id="home">
        <div class="max-width">
            <div class="home-content colunb wow bounceInLeft" data-wow-delay=".15"">
                <div class="text-1">Welcome to <span class="fast">Fast<span class="eng">English!</span></span></div>
                <div class="text-2">Biz bilan ingliz tilini <span class="taping2"></span> o`rganing.</div>
                <div class="text-3">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quam placeat ipsam expedita? Facilis, voluptatum! Saepe!</div>
                <a href="./singup/inder.html">Boshlash</a>
            </div>
            <div class="columb left wow bounceInRight" data-wow-delay=".15">
                <img src="./img/Group 2 (2).png" alt="">
            </div>
            </div>
        </div>
    </section>
</body>
</html>