<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

     <!--circle-->
     <div class="circle" id="circle1"></div>
     <div class="circle" id="circle2"></div>
     <div class="circle" id="circle3"></div>
     <div class="circle" id="circle4"></div>
     <div class="circle" id="circle5"></div>
     <div class="circle" id="circle6"></div>
     <div class="circle" id="circle7"></div>
     <div class="circle" id="circle8"></div>
     <div class="bd-img" id="im1"><img src="./img/—Pngtree—dynamic gradient triangle technology element_3690095 1.png" alt=""></div>
     <div class="bd-img" id="im2"><img src="./img/—Pngtree—fuchsia gradient triangle_4498303 1.png" alt=""></div>
     <div class="bd-img" id="im3"><img src="./img/—Pngtree—fuchsia gradient triangle_4498303 1.png" alt=""></div>
     <div class="bd-img" id="im4"><img src="./img/—Pngtree—dynamic gradient triangle technology element_3690095 1.png" alt=""></div>
     <div class="scroll-up-btn wow slideInDown" data-wow-delay=".15">
         <i class="fas fa-angle-up"></i>
     </div>
   <div class="site">
       <!--navbar-->
   <nav class="navbar wow slideInDown" data-wow-delay=".15">
     <div class="max-width">
         <div class="logo"><a href="#">Fast<span>English.</span></a></div>
         <ul class="menu">
         <li><a href="#home" class="a">Bosh saxifa</a></li>
         <li><a href="#about" class="a">Biz xaqimizda</a></li>
         <li><a href="#services" class="a">Kurslar</a></li>
         <li><a href="#skills" class="a">Bog'lanish</a></li>
         <li><a href="./login/inder.html" class="btn br" id="btnn">Kirish</a></li>
         <li><a href="./singup/inder.html" class="btn br" id="btnnn">Ruyxatdan utish</a></li>
         </ul>
     <div class="menu-btn">
         <i class="fa-solid fa-bars"></i>
     </div>
     </div>
 </nav>



</div>

</body>
</html>