@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&family=Ubuntu:wght@400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600&display=swap');
:root {
    --clr-neon: rgb(161, 20, 255);
    --clr-bg: hsl(323 21% 16%);
  }

html{
    scroll-behavior: smooth;
}
body{
    width: 100vw;
    background-repeat: no-repeat;
    background: linear-gradient(293.96deg, #bea8eb79 0%, rgba(228, 184, 235, 0.416) 28.21%, rgba(251, 194, 235, 0.515) 49.52%, rgba(216, 179, 235, 0.523) 73.96%, rgba(120, 137, 235, 0.375) 100%) no-repeat;
}

/*--------------------------------REGISTRATION---------------------------------*/
.sing-in-form{
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    width: 100vw;
    padding-top: 105px;
    padding-bottom: 105px;
}
.back{
    color: rgb(198, 129, 241);
    position: absolute;
    top: 15px;
    right: 15px;
    transition: .5s;
}
.back:hover{
    transform: rotate(180deg)
}
.main-register{
    position: relative;
    width: 380px;
    height: 450px;
    padding-top: 55px;
    padding-bottom: 55px;
    background: rgba(255, 255, 255, 0.363);
    overflow: hidden;
}

#login{
    transition: .5s;
}
#singupto{
    transition: .5s;
}
#loginto{
    left: -450px;
}
#singup{
    left: 50px;
}


.log-in{
    position: absolute;
    top: 220px;
    width: 280px;
    transition: all .5s;
}
.input-field{
    border: 0;
    outline: 0;
    border-bottom: 1px solid #999;
    background: none;
    width: 100%;
    padding: 10px 0;
    margin: 5px 0;
}
.submit-btn{
    width: 85%;
    cursor: pointer;
    background:  rgb(169, 39, 255);
    padding: 10px 30px;
    display: block;
    margin: auto;
    box-shadow: inset 0 0 0.5em 0 var(--clr-neon), 0 0 0.5em 0 var(--clr-neon);
    color: #fff;
    border: 0;
    outline: 0;
    border-radius: 35px;
    transition: .5s;
}
.submit-btn:hover{
    background: rgb(153, 0, 255) ;
}
.checkbox{
    margin: 30px 10px 30px 0;
}
.log-in span{
    color: #777;
    font-size: 12px;
}
.bnt-group{
    position: relative;
    display: flex;
    justify-content: space-between;
    border-radius: 30px;
    border: 0;
    box-shadow: 0 0 20px 9px #bea8eb79;
    width: 220px;
    margin: 0 auto 35px;
    height: 30px;
}
.bnt-group button{
    border: 0;
    outline: 0;
    background: 0;
    width: 110px;
    cursor: pointer;
    position: relative;
}
#btn{
    background-color: rgb(161, 20, 255);
    color: #fff;
    text-decoration: none;
    box-shadow: inset 0 0 0.5em 0 var(--clr-neon), 0 0 0.5em 0 var(--clr-neon);
    border-radius: 30px;
    cursor: pointer;
    width: 110px;
    height: 100%;
    position: absolute;
    left: 110px;
    top: 0;
    transition: .5s;
}

.more {
    position: relative;
    display: flex;
    justify-content: center;
}
.more ul{
    display: flex;
    justify-content: space-between;
    list-style: none;
    width: 250px;
    padding: 0;
}
.icon{
    width: 45px;
    height: 45px;
    border-radius: 100px;
    background: #fff;
    margin: 8px 0px;
    text-align: center;
    line-height: 45px;
    font-family: sans-serif;
    overflow: hidden;
    box-shadow: 5px 10px 20px rgba(147, 79, 176, 0.3);
    transition: all .3s ease-out;
}
.icon:hover{
    width: 150px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    color: #fff;
}
.icon:hover i{
    color: #fff;
}
.fa-facebook-f{
    color: #1A6ED8;
}
.fb:hover{
    background: #1A6ED8;
}
.icon .fa-twitter{
    color: #1DA1F2;
}
.twt:hover{
    background: #1DA1F2;
}
.icon .fa-google{
    color: #ff0000;
}
.gl:hover{
    background: #fff;
}
.gl:hover .fa-google{
    color: #ff0000;
}
.gl:hover .gle{
    color: #000000;
}
.gl:hover .fbk{
    color: #fff;
}
.or{
    display: flex;
    justify-content: center;
    color: #888;
    letter-spacing: 1px;
    font-weight: 700;
    font-size: 11px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
#with{
    margin: -20px 0 -10px 0;
}

.helptouser{
    display: flex;
    align-items:baseline;
    justify-content: center;
    margin-top: 25px;
    margin-bottom: 15px;
}
.help-info{
    display: flex;
    justify-content: center;
    font-size: 12px;
    color: #0000EE;
    font-weight: 100;
    letter-spacing: 1px;
}

@media(max-width:450px){
    .main-register{
        position: relative;
        width: 300px;
        height: 75vh;
        padding-top: 55px;
        background: rgba(255, 255, 255, 0.363);
        overflow: hidden;
    }

    .log-in{
        position: absolute;
        top: 220px;
        width: 220px;
        transition: all .5s;
    }
}